// .system-container {
//     ._loading_overlay_wrapper {
//         position: unset;
//     }
// }

//share
.w5 {
    width: 5%;
}

.w10 {
    width: 10%;
}

.w20 {
    width: 20%;
}

.w17 {
    width: 17%;
}

.w18 {
    width: 18%;
}

.w15 {
    width: 15%;
}

.w45 {
    width: 45%;
}

.height100vh {
    min-height: 100vh
}

//dashboard
.container-dashboard {
    background-color: #F0F2F5;

    .form-redux {
        .titleD {

            padding-top   : 25px;
            text-align    : center;
            text-transform: uppercase;
            font-weight   : bold;
            font-size     : 20px;
            color         : #0071ba;

        }

        .card {
            height       : 180px;
            margin       : 30px 24px 30px 0;
            border-radius: 8px;

            .card-content_1 {
                display         : flex;
                align-items     : center;
                justify-content : center;
                margin-left     : -1px;
                height          : 100%;
                border-radius   : 8px;
                text-align      : center;
                padding         : 1rem;
                position        : relative;
                box-shadow      : 0 0 3px #000 !important;
                color           : rgb(4, 41, 122);
                background-color: rgb(208, 242, 255);

                .icon-wrapper {
                    color          : rgb(16, 57, 150);
                    font-size      : 40px;
                    width          : 104px;
                    height         : 54px;
                    margin         : 0 auto;
                    position       : relative;
                    overflow       : hidden;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;


                }
            }

            .card-content_2 {
                display            : flex;
                align-items        : center;
                justify-content    : center;
                margin-left        : -1px;
                color              : black;
                // color           : rgb(183, 129, 3);
                height             : 100%;
                border-radius      : 8px;
                text-align         : center;
                padding            : 1rem;
                position           : relative;
                box-shadow         : 0 0 3px #000 !important;
                background-image   : radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%) !important;

                .icon-wrapper {
                    color          : black;
                    font-size      : 40px;
                    width          : 104px;
                    height         : 54px;
                    margin         : 0 auto;
                    position       : relative;
                    overflow       : hidden;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;


                }
            }
        }

        .chart_title {
            position: relative;

            .chart_item-left {
                float    : left;
                margin   : 25px 0 0 30px;
                font-size: 17px;
            }

            .chart_item {
                width : 200px;
                float : right;
                margin: 20px 30px 0 0;
            }
        }

    }
}

.chart_title {
    position: relative;

    .chart_item-left {
        float    : left;
        font-size: 17px;
    }

    .chart_item {
        float : right;
        margin: 20px 30px 20px 0;
    }
}

// Profile
.backgroundColor {
    background-color: #fafafa;
    height          : calc(100vh - 60px);


    .container-left__admin {
        margin-top: 60px;

        .contentProfile {

            padding         : 16px;
            width           : 250px;
            border          : 1px solid rgb(192, 192, 192);
            border-radius   : 4px;
            background-color: white;
            height          : 300px;
            box-shadow      : 1px 1px 2px 1px #c5c5c5;

            .fa-user-circle,
            .fa-ticket-alt,
            .fa-sign-out-alt {
                font-size : 20px;
                margin-top: 4px;
                cursor    : pointer;
            }

            p {
                font-size    : 18px;
                margin-bottom: 15px;
                cursor       : pointer;
            }

        }
    }

    .container-right__admin {
        margin-top: 60px;

        .contentProfile {
            padding         : 16px;
            width           : 700px;
            border          : 1px solid rgb(192, 192, 192);
            border-radius   : 4px;
            background-color: white;
            height          : 550px;
            box-shadow      : 1px 1px 2px 1px #c5c5c5;

            .avatar-container {
                // display: flex;
                height: 200px;

                .prev-img-container {
                    // display: flex;



                    .avatar {
                        margin         : auto;
                        border         : 1px solid black;
                        height         : 150px;
                        width          : 150px;
                        border-radius  : 50%;
                        background     : center center no-repeat;
                        background-size: contain;

                        // width          : 100%;
                        .upload-avatar {
                            margin-top : 113px;
                            margin-left: 104px;

                            .avatar-small {

                                cursor: pointer;

                                .border-edit {
                                    border         : 1px solid black;
                                    width          : 35px;
                                    background     : #E4E6EB;
                                    /* margin      : 10px; */
                                    height         : 35px;
                                    border-radius  : 50%;
                                    display        : flex;
                                    align-items    : center;
                                    justify-content: center;
                                    z-index        : 1;

                                }

                                // &:hover {
                                //     opacity: 0.8;
                                // }
                            }
                        }
                    }
                }


            }

            .save-info {
                width : inherit;
                margin: auto;
            }

            .change-password {
                width : inherit;
                margin: auto;
            }
        }
    }
}

.active {
    color: #1890ff;
}

.custom-password {
    position: relative;

    i {
        position: absolute;
        right   : 10px;
        top     : 10px;
        cursor  : pointer;
    }
}

label {
    margin-bottom: 5px;
}


////////////////////////////////////////////////////////////////
/// 
#customers {
    font-family: Arial,
        Helvetica,
        sans-serif;
    border-collapse: collapse;
    width          : 100%;
}

#customers td,
#customers th {
    border-bottom: 1px solid #ddd;
    padding      : 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top     : 12px;
    padding-bottom  : 12px;
    text-align      : left;
    background-color: #04AA6D;
    color           : white;
}

.btn-edit {
    width     : 50px;
    border    : none;
    outline   : none;
    background: transparent;
    color     : orange;
    font-size : 20px;

    &:hover {
        background-color: transparent !important;
        opacity         : 0.7;
        color           : orange !important;
    }
}

.btn-delete {
    width     : 50px;
    border    : none;
    outline   : none;
    background: transparent;
    color     : rgb(234, 14, 14);
    font-size : 20px;

    &:hover {
        background-color: transparent !important;
        opacity         : 0.7;
        color           : rgb(234, 14, 14) !important;
    }
}

.btn-primary-modal {
    // padding: 5px 10px;
    padding-left : 15px;
    padding-right: 15px;
}

.modal-header {
    background-color: white !important;
    color           : black !important;

    button {
        border          : none;
        font-size       : 21px;
        background-color: white;
    }
}

.prev-img-container {
    display: flex;

    .upload-img {
        border          : 1px solid rgb(0, 0, 0);
        background-color: #ddd;
        padding         : 4px;
        border-radius   : 3px;
        cursor          : pointer;
        width           : 110px;
        height          : 33px;

        &:hover {
            opacity: 0.8;
            cursor : pointer;
        }

        .fa-upload {
            font-size   : 19px;
            padding-left: 5px;
        }
    }

    .prev-img {
        height         : 100px;
        width          : 100%;
        border         : 1px solid #ddd;
        margin-left    : 20px;
        background     : center center no-repeat;
        background-size: contain;
        cursor         : pointer;
        // cursor: pointer;
    }
}

.driver-run {
    border       : 1px solid #ccc;
    padding      : 5px 0;
    border-radius: 30px;
    background   : #d0ffd1;
}

.driver-not-run {
    border       : 1px solid #ccc;
    padding      : 5px 0;
    border-radius: 30px;
    background   : #bcc2ff;
}


//page vehicles
.rows {
    float        : right;
    display      : flex;
    margin-bottom: 20px;

    .left {
        padding: 10px;
    }


}


.section-id {
    cursor    : pointer;
    text-align: center !important;
}

.section-id-list {
    text-align: center !important;
}

.section-title {
    display        : flex;
    justify-content: space-between;

    .iconSortDown {
        font-size      : 20px;
        // margin-right: 20px;
        cursor         : pointer;
    }

    .iconSortUp {
        font-size   : 20px;
        margin-right: 30px;
        cursor      : pointer;
    }

    .active {
        color: #0071ba !important;
    }
}

.content-left {
    // width        : 100%;
    background        : center center no-repeat;
    background-size   : 120px 80px;
    // width          : 100px;
    height            : 100px;
    margin            : 10px 20px;
}


#customers>th {
    background-color: white !important;
    color           : black;
}

.vehicle-run {
    // border         : 1px solid black;
    padding        : 5px 0;
    border-radius  : 30px;
    background     : #d0ffd1;
    width          : 105px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin         : auto;
}

.vehicle-not-run {
    // border         : 1px solid black;
    padding        : 5px 0;
    border-radius  : 30px;
    background     : #bcc2ff;
    width          : 105px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin         : auto;
}


//lisst cusstomer

#customers1 {
    font-family: Arial,
        Helvetica,
        sans-serif;
    border-collapse: collapse;
    width          : 100%;
}

#customers1 td,
#customers1 th {
    border-bottom: 1px solid #ddd;
    padding      : 8px;
}

#customers1 tr:nth-child(even) {
    background-color: #f2f2f2;
}

.sub_table {
    font-size       : 15px !important;
    border-bottom   : 2px solid black !important;
    background-color: white !important;
    color           : black !important;
}

.sub_table-body {
    font-size: 14px !important;
}

#customers1 tr:hover {
    background-color: #ddd;
}

#customers1 th {
    font-weight   : 500;
    padding-top   : 12px;
    padding-bottom: 12px;
    text-align    : left;

    background-color: #04AA6D;
    color           : white;
}