.container-dashboard {
    background-color: #F0F2F5;

    .form-redux {
        .titleD {

            padding-top   : 25px;
            text-align    : center;
            text-transform: uppercase;
            font-weight   : bold;
            font-size     : 20px;
            color         : #0071ba;

        }



        .card {
            height       : 180px;
            margin       : 30px 24px 30px 0;
            border-radius: 8px;

            .card-content_1 {
                display         : flex;
                align-items     : center;
                justify-content : center;
                margin-left     : -1px;
                height          : 100%;
                border-radius   : 8px;
                text-align      : center;
                padding         : 1rem;
                position        : relative;
                box-shadow      : 0 0 3px #000 !important;
                color           : rgb(4, 41, 122);
                background-color: rgb(208, 242, 255);

                .icon-wrapper {
                    color          : rgb(16, 57, 150);
                    font-size      : 40px;
                    width          : 104px;
                    height         : 54px;
                    margin         : 0 auto;
                    position       : relative;
                    overflow       : hidden;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;


                }
            }

            .card-content_2 {
                display            : flex;
                align-items        : center;
                justify-content    : center;
                margin-left        : -1px;
                color              : black;
                // color           : rgb(183, 129, 3);
                height             : 100%;
                border-radius      : 8px;
                text-align         : center;
                padding            : 1rem;
                position           : relative;
                box-shadow         : 0 0 3px #000 !important;
                background-image   : radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%) !important;

                .icon-wrapper {
                    color          : black;
                    font-size      : 40px;
                    width          : 104px;
                    height         : 54px;
                    margin         : 0 auto;
                    position       : relative;
                    overflow       : hidden;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;


                }
            }

            // .card-content_3 {
            //     margin-left     : -1px;
            //     display         : flex;
            //     align-items     : center;
            //     justify-content : center;
            //     height          : 100%;
            //     border-radius   : 8px;
            //     text-align      : center;
            //     padding         : 1rem;
            //     position        : relative;
            //     box-shadow      : 0 0 0 transparent;
            //     background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%) !important;


            //     .icon-wrapper {
            //         color          : white;
            //         font-size      : 40px;
            //         width          : 104px;
            //         height         : 54px;
            //         margin         : 0 auto;
            //         position       : relative;
            //         overflow       : hidden;
            //         display        : flex;
            //         align-items    : center;
            //         justify-content: center;


            //     }
            // }
        }

    }
}